<nav>
  <div class="nav-wrapper amber darken-1">
  </div>
</nav>
<nav>
  <div class="nav-wrapper amber darken-1">
    <a [routerLink]="['/']" class="brand-logo center" style="font-size: 2.5em;">Teste técnico</a>
  </div>
</nav>
<nav>
  <div class="nav-wrapper amber darken-1">
    <div class="container">
      <span class="hide-on-med-and-down right" style="font-size: 0.9em; padding: 0px">desenvolvido por Thiago Della Noce</span>
    </div>
  </div>
</nav>

<nav>
  <div class="nav-wrapper amber darken-2">
    <div class="container">
      <ul id="nav-mobile" class="left">
        <li><a [routerLink]="['/cadastrar']">Cadastrar</a></li>
        <li><a [routerLink]="['/listar']">Listar</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a [routerLink]="['/login']" (click)="sair()">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="padding-top: 25px">
  <router-outlet></router-outlet>
</div>
